set_io clk 21

set_io D1 95
set_io D2 96
set_io D3 97
set_io D4 98
set_io D5 99
set_io D6 101
set_io D7 102
set_io D8 104

set_io i2c_scl 112
set_io i2c_sda 113

set_io spi_cs 116
set_io spi_sclk 117
set_io spi_mosi 118
set_io spi_miso 119

set_io uart_rxd 9
set_io uart_txd 8
